<!--The content below is only a placeholder and can be replaced.-->

<mat-sidenav-container class="sidenav">
  <!--サイドナビゲーション-->
  <mat-sidenav #sidenav mode="side" opened>
    <app-side-nav [user]="user" (changeProj)="setProject($event)" (selectProc)="selectProcess($event)"></app-side-nav>
  </mat-sidenav>
  <!--メインナビゲーション-->
  <mat-sidenav-content>
    <button (click)="sidenav.toggle()" mat-fab aria-label="menu toggle button">
      <mat-icon>list</mat-icon>
    </button>
    <div style="text-align:center">
    <h1>
      {{ title }}
    </h1>
    <div *ngIf="currentProject != '' && selected != ''">
      <app-task-view [scenes]="scenes" [selected]="selected"></app-task-view>
    </div>
    <!--
    <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
    -->
    </div>
    <div *ngIf="currentProject != ''">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>シーン管理</mat-card-title>
        <mat-card-subtitle>シーンの追加・削除を行います。</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <h3>シーン削除</h3>
        <mat-nav-list>
          <mat-list-item *ngFor="let scene of scenes" (click)="delete(scene.name)">
            <!--<button mat-icon-button class="deleteButton" color="primary" aria-label="delete" (click)="delete(scene.name)">-->
            <mat-icon color="primary" aria-label="delete">backspace</mat-icon>
            <!--</button>-->
            {{ scene.name }}
          </mat-list-item>
        </mat-nav-list>
        <h3>シーン追加</h3>
        <mat-form-field class="input">
          <input matInput placeholder="シーン名称" value="" (keyup.enter)="add(newSceneName.value); newSceneName.value = ''" #newSceneName>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
    </div>
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>プロジェクト管理</mat-card-title>
        <mat-card-subtitle>プロジェクトの追加・削除を行います。</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <h3>プロジェクト削除</h3>
        <mat-nav-list>
          <mat-list-item *ngFor="let project of user?.projects |keyvalue" (click)="deleteProject(project.key)">
            <mat-icon color="primary" aria-label="delete">backspace</mat-icon>
            {{project.value}}
          </mat-list-item>
        </mat-nav-list>
        <h3>プロジェクト追加</h3>
        <mat-form-field class="input">
          <input matInput placeholder="プロジェクト名称" value="" (keyup.enter)="addProject(newProjectName.value); newProjectName.value = ''" #newProjectName>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
    <!--
    <mat-grid-list cols="2">
      <mat-grid-tile>
        <p>first</p>
      </mat-grid-tile>
      <mat-grid-tile>
        <p>2nd</p>
      </mat-grid-tile>
    </mat-grid-list>
    -->
  </mat-sidenav-content>
</mat-sidenav-container>
<router-outlet></router-outlet>
