$cardspace: 20px

.sidenav
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    height: 100%

mat-sidenav, mat-sidenav-content
    padding: 16px

h1
    margin: 2em

mat-sidenav-content
    button
        float: left
mat-card
    float: left
    //width: 45%
    min-width: 300px
    margin: $cardspace/2
    mat-card-content
        padding-top:$cardspace
        padding-left: $cardspace
        mat-nav-list
            mat-list-item
                mat-icon
                    padding-right: 5px