<!--The content below is only a placeholder and can be replaced.-->

<mat-sidenav-container class="sidenav">
  <!--サイドナビゲーション-->
  <mat-sidenav #sidenav mode="side" opened>
    <app-side-nav [user]="user" [processes]="processes" (changeProj)="setProject($event)" (selectProc)="selectProcess($event)"></app-side-nav>
  </mat-sidenav>
  <!--メインナビゲーション-->
  <mat-sidenav-content>
    <button (click)="sidenav.toggle()" mat-fab aria-label="menu toggle button">
      <mat-icon>list</mat-icon>
    </button>
    <h1><a routerLink="/" 
    (click)="clear()"
    >
      {{ title }}
    </a></h1>
    
    <div *ngIf="currentProject != '' && selected != ''" >
      <h2>{{selectedJP}}</h2>
      <app-task-view 
        [scenes]="scenes" 
        [selected]="selected" 
        [project]="currentProject"
        ></app-task-view>
    </div>
    <div *ngIf="selected == ''" >
    <app-main 
      [user]="user" 
      [scenes]="scenes"
      (add)="add($event)"
      (delete)="delete($event)"
      (changeSceneNameC)="changeSceneName($event)"
      (addProject)="addProject($event)"
      (deleteProject)="deleteProject($event)"
    ></app-main>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<router-outlet></router-outlet>
